<form novalidate ng-submit="vm.login()" name="loginForm">
  <fieldset ng-disabled="vm.interactionDisabled">
    <div class="form-group">
      <input type="text" name="username" ng-model="vm.username" placeholder="Admin user name" required />
      <input type="password" name="password" ng-model="vm.password" placeholder="Password" required />
      <button class="btn btn-primary" ng-disabled="vm.interactionDisabled || loginForm.$invalid" type="submit">Login</button>
      <div class="btn btn-danger" ng-show="vm.enableRegistration" ng-disabled="vm.interactionDisabled || loginForm.$invalid" ng-click="vm.register()">Register</div>
    </div>
  </fieldset>
</form>
