<form novalidate ng-submit="vm.change()" name="form">
  <fieldset ng-disabled="vm.interactionDisabled">
    <div class="form-group">
      <input type="password" name="oldPassword" ng-model="vm.oldPassword" placeholder="Old Password" required />
      <input type="password" name="password" ng-model="vm.password" placeholder="New Password" required />
      <button class="btn btn-primary" ng-disabled="vm.interactionDisabled || form.$invalid || !vm.isLoggedIn()" type="submit">Change Password</button>
    </div>
  </fieldset>
</form>
